// Default black theme

// Color variables
$black: #181818;
$red: #E74727;
$green: #85b78f;
$red-small: #DC3918;
$white: #fff;

// Config
$color-background: $black !default;
$color-dot-accent: $red !default;
$color-foreground: $white !default;
$color-title: $white !default;
$color-body-text: $black !default;
$color-text-accent: $red !default;
$color-code: $red-small !default;
$color-nav-link: $red !default;
$color-primary-link: $red !default;

$h0-mobile: 52px;
$h0-desktop: 104px;

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
    text-align: justify !important;
}

article a {
    text-decoration: underline dotted !important;
    color: $red !important;
}

.prose img {
    max-width: 100% !important;
}

.prose hr {
    border: none;
    height: 1px;
    width: 83.3333333333%; 
    /* Set the hr color */
    color: $black; /* old IE */
    background-color: $black; /* Modern Browsers */
    margin-bottom: 8px;
    margin-top: 8px;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: $black; /* old IE */
    background-color: $black; /* Modern Browsers */
    margin-bottom: 8px;
    margin-top: 8px;
}

a span {
  color: black;
}

.newsletter::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.2;
  background-image: url('../assets/book-bg.jpg');
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reading-time {
  display: block;
}

// Convertkit CSS
.newsletter {
  display: block;
  position: relative;
    //background-color: lightgray;
}

.formkit-form[data-uid="9c54134bb2"][min-width~="700"] [data-style="clean"] {
    padding: 0px !important;
}

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;