<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>

      <header class="header-background">

        <div class="clearfix border-bottom-thick header-border">
          <ul class="list-reset right py-2 header-text font-smoothing">
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li class="inline-block">
                <a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="container mx-auto px-2 py-3 clearfix header-text">
          <h1 class="h0 inline-block col-12 sm-width-full py-4 mt-3 header-title">{{ site.title }}</h1>

          <div class="clearfix mb-1 py-1">
            <div class="col-6 sm-width-full left border-top-thin">
              <div class="table">
                <div class="inline-block mt-3 mr-1">
                  {% include dot-accent.html %}
                </div>
                <div class="inline-block mt-3 mr-1">
                  {% include linkedin.html %}
                </div>
                <div class="inline-block mt-3">
                    {% include instagram.html %}
                </div>
              </div>
              <!-- Set site description in config.yml -->
              <p class="h4 lh-condensed font-smoothing mt-2 py-1">{{ site.description }}</p>
            </div>
          </div>

        </div>
      </header>

      <div class="newsletter py-3">
          <div class="container mx-auto px-2 mb-2 clearfix">
            <h3>Subscribe to my monthly newsletter</h3>
            <p>Receive my lastest articles and <b>Reading Recommendations about Management + Remote Work</b></p>
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup">
              <form action="https://marcuswermuth.us20.list-manage.com/subscribe/post?u=1e81333bc22b8766337bd9f5c&amp;id=c7b91d24d8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
	                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1e81333bc22b8766337bd9f5c_c7b91d24d8" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
              </form>
            </div>
            <!--End mc_embed_signup-->
          </div>
        </div>


      <div class="container mx-auto px-2 py-4">
        <h2>Lastest Articles:</h2>
        {% for post in site.posts limit:3 %}
          {% include post_block.html %}
        {% endfor %}
        <a href="/writing"><h3>More Posts...</h3></a>
      </div>

    </div>

    {% include footer.html %}

    {% if site.google_analytics and jekyll.environment == 'production' %}
    {% include analytics.html %}
    {% endif %}
  </body>

</html>